@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

.header-bg-color{
    background-color: #264653;
}

.honda-header{
    color: white;
    font-weight: 600;
    font-size: 48px;
}
.bike-phara{
    color:#E0E0E0;
    font-weight: 300;
}
.bike-btn{
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 9px 35px;
    background-color: #E76F51;
}

.feature-para{
    color: #E76F51;
    font-size: 14px;
}

.happy-client,
.color-star{
    color: #E76F51;
}

   

.customShadow{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
}